<footer class="bd-footer text-muted">
  <div class="container-fluid p-3 p-md-5">
    <ul class="bd-footer-links">
      <li><a href="{{ site.repo }}">GitHub</a></li>
      <li><a href="{{ site.baseurl }}/docs/{{ site.docs_version }}/about/overview/">About</a></li>
      <li><a href="{{ site.baseurl }}/docs/{{ site.docs_version }}/about/denote/">Denote</a></li>
    </ul>
    <p>Designed and built in the world by <a href="https://github.com/marstau" target="_blank" rel="noopener">@marstau</a>.</p>
  </div>
</footer>
